@import "./defination.scss";

#navigation {
  position: relative;
  height: 540px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #5179ae, #3865a2);
  z-index: 20;
  
  & .container {
    max-width: 2000px;
  }

  & .content {
    height: 540px;
  }
}

#navigationLeft {
  & img {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#navigationRight {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 20;

  & #myVideo {
    position: absolute;
    top: 0;
    right: -800px;
    height: 540px;
    transition: 1.5s;
    z-index: -10;
  }

  & ul li {
    width: 110px;
    margin: 20px 10px;
    font-size: 20px;
    cursor: pointer;
  }
}

// ------------------- Media Query Templete -----------------

@media only screen and (max-width: $medium-screen) {
  #navigation {
    height: 440px;
    
    & .content {
      height: 440px;
    }
  }
}
@media only screen and (max-width: $small-screen) {
  #navigation {
    // height: 10px;
    background-image: linear-gradient(to bottom right, #386fb8, rgb(3, 28, 65));
  }

  #navigation {
    height: 50px;

    & .row {
      flex-wrap: nowrap;
    }

    & img {
      position: absolute;
      left: 0;
      height: 50px;
      width: 110px;
      left: 0;
    }

    & .content {
      height: 50px;
    }
  }

  #navigationRight {
    & #myVideo {
      right: -450px;
      display: none;
    }

    & ul {
      position: absolute;
      left: -250px;
      top: 12px;
      margin-left: -100px;
      padding: 0;
      width: 350px;
      font-weight: 600;
    }

    & ul li {
      color: white;
      font-size: 15px;
      display: inline;
    }
  }
}
