#gallery{
  position: relative;
  height: 800px;
  // background-image: linear-gradient(
  //   to top right,
  //   #a932d8,
  //   #110316d8
  // );

  & .row{
    position: relative;
    height: 760px;
    // border: 2px solid gray;
  }
}

// ------------------- Column One -----------------
#gallery .column-one{
  position: relative;
  // border: 5px solid gray;

  & h1{
    position: absolute;
    top: 360px;
    width: 400px;
    right: 180px;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 255, 255, 0.253);
    transform: rotate(-90deg);
    letter-spacing: 10px;
    // border: 5px solid gray;
  }

  & .gallery-img, div{
    position: absolute;
    top: 200px;
    right: 5px;
    height: 450px;
    width: 350px;
    overflow: hidden;
    // border: 5px solid gray;
    object-fit: cover;
  }

  & div{
    background-color: black;
    opacity: 0.15;
  }
}

// ------------------- Column Two ------------------
#gallery .column-two{
  position: relative;
  top: 200px;
  left: 30px;
  color: white;
  height: 500px;
  max-width: 370px;
  // border: 2px solid gray ;

  & h5{
    position: absolute;
    top: 50px;
    left: -190px;
    font-size: 15px;
  }

  & .paragraph{
    position: relative;
    top: 150px;
    word-wrap: normal;
    width: 250px;
    // border: 2px solid gray;
  }
}


// --------------- Column Three ---------------
#gallery .column-three{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 600px;
  // border: 2px solid gold;
}

@keyframes img-to-right{  
  0% {
      transform: translate(0, 0x,);
  }
  100% {
    transform: translate(32px, 0);
  }
}