@import "./defination.scss";

#gallery {
  position: relative;
  height: 800px;

  & .row {
    position: relative;
    height: 760px;
  }
}

// ------------------- Column One -----------------
#gallery .column-one {
  & h1 {
    position: absolute;
    top: 360px;
    width: 400px;
    right: 220px;
    transform: rotate(-90deg);
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 0.253);
  }

  & .gallery-img,
  div {
    position: absolute;
    top: 200px;
    right: 5px;
    height: 450px;
    width: 350px;
    overflow: hidden;
    object-fit: cover;
  }

  & div {
    background-color: black;
    opacity: 0.15;
  }
}

// ------------------- Column Two ------------------
#gallery .column-two {
  position: relative;
  top: 200px;
  left: 30px;
  color: white;
  height: 500px;
  max-width: 370px;

  & h5 {
    position: absolute;
    top: 50px;
    left: -190px;
    font-size: 15px;
  }

  & .paragraph {
    position: relative;
    top: 150px;
    word-wrap: normal;
    width: 250px;
  }
}

// --------------- Column Three ---------------
#gallery .column-three {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 600px;
}

@keyframes img-to-right {
  0% {
    transform: translate(0, 0x);
  }
  100% {
    transform: translate(32px, 0);
  }
}

// ----------------- Media Query ----------------
@media only screen and (max-width: $small-screen) {
  #gallery {
    position: relative;
    height: 800px;
  }

  #page {
    display: none;
  }

  // ------------------- Column One -----------------
  #gallery .column-one {
    position: relative;
    margin: 0 auto;

    & h1 {
      display: none;
    }

    & .gallery-img,
    div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 300px;
      width: 370px;
    }
  }

  // ------------------- Column Two ------------------
  #gallery .column-two {
    position: relative;
    top: 70px;
    margin: 0 auto;
    width: 400px;
    left: 0;

    & h5 {
      position: absolute;
      top: -25px;
      left: 0px;
    }

    & .paragraph {
      position: absolute;
      top: 283px;
      left: 1%;
      margin-left: 5px;
      word-wrap: normal;
      width: 360px;
    }
  }

  // --------------- Column Three ---------------
  #gallery .column-three {
    position: absolute;
    bottom: 0;
  }
}
