#galleryButtons{
      position: absolute;
      top: 530px;
      right: -30px;
      height: 100px;
      width: 190px;
      color: white ;
      padding: 25px 0;
      z-index: 20;

    & div{
      padding: 8px;
      height: 32px;
      font-weight: 600;
      cursor: pointer;
      display: inline-block;
      // border: 2px solid red;
      margin: 5px;
    } 
}

@media only screen and (max-width: $medium-screen) {
  #galleryButtons{
    top: 0;
  }
}

@media only screen and (max-width: $small-screen) {
  #galleryButtons{
    position: absolute;
    top: 0px;
    right: 40px;
    height: 100px;
    // border: 2px solid gold;
}
}
