#what-we-do{
    position: relative;
    height: 800px;
    max-width: 1100px;
    margin: 0 auto;

    & .container{
        width: 100%;
        height: 100%;
        // border: 2px solid salmon;
    }

    & .row{
        width: 100%;
        height: 100%;
    }

}

// ----------------------  ------------------------
#what-we-do .first-column{
    height: 100%;
    // overflow: hidden;
    background-color: rgba(232, 220, 241, 0.37);

    & h1:nth-child(1){
        position: relative;
        top: 80px;
        font-size: 50px;
    }

    & h1:nth-child(2){
        position: relative;
        top: 20px;
        left: 150px;
        color: rgba(128, 128, 128, 0.196);
        font-size: 80px;
        overflow: hidden;
        // border: 2px solid gold;
        white-space: nowrap;  
        transition: 1s;
        z-index: 200;
       }
    

    & .img-container{
        position: absolute;
        top: 180px;
        width: 620px;
        height: 325px;
        // border: 3px solid sandybrown;
        // background-color: sandybrown;
    }


    & .control-buttons{
        position: absolute;
        top: 425px;
        left: -25px;
        z-index: 11;
    }

    & ul li:nth-child(1){
        color: white;
        width: 80px;
        height: 80px;
        font-weight: 500;
        padding: 30px 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.938);
    }

    & ul li:nth-child(2){
        color: white;
        font-weight: 500;
        width: 80px;
        height: 80px;
        margin-top: 2px;
        padding: 30px 0;
        text-align: center;
        background-color: rgb(108, 110, 109);
    }
}

#what-we-do .float-ball{
    position: absolute;
    top: 400px;
    left: -200px;
    height: 320px;
    width: 320px;
    background-color: rgba(189, 186, 226, 0.47);
    border-radius: 320px;
    transition: 1s;
    visibility: hidden;
    z-index: -111;
}

// ----------------------  ------------------------
#what-we-do .second-column{
    // background-color: rgba(240, 230, 140, 0.397);
    perspective: 1000px;

    & h1{
        position: absolute;
        top: 10px;
        left: 0px;
        // color: white;
        mix-blend-mode: difference;

        // &:hover{
        //     transform: rotateX(360deg);
        // }
    }

    & .h1-container{
        position: absolute;
        top: 230px;
        left: -130px;
        width: 400px;
        height: 70px;
        z-index: 88;
        overflow: hidden;
        // border: 2px solid salmon; 
    }

    & p{
        position: absolute;
        top: 320px;
        margin-left: 20px;
        z-index: 21;
        transition-delay:1s;
    }

    & a{
        position: absolute;
        top: 460px;
        margin-left: 20px; 
    }

    & .page{
        position: absolute;
        top: 120px;
        right: 0;
        height: 50px;
        width: 50px;
        color: black;
        font-size: 20px;
    }
}

