#what-we-do .second-column {
  padding: 5px;
  transition: 2s;

  & h1 {
    position: absolute;
    top: 0;
  }

  & p {
    position: absolute;
    top: 320px;
    margin-left: 20px;
    z-index: 21;
    transition-delay: 1s;
  }

  & .explore-more {
    position: absolute;
    top: 460px;
    margin-left: 20px;
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
    z-index: 55;
    cursor: pointer;
  }

  & img{
    position: absolute;
    top: 460px;
    left: 115px;
    cursor: pointer;
    z-index: 55;
    margin: 3px 7px;
    height: 20px;
    width: 14px;
  }

  & #page {
    position: absolute;
    top: 60px;
    left: 86%;
  }
}

#bigFloatBall{
  position: absolute;
  top: 100px;
  left: -270px;
  height: 500px;
  width: 500px;
  background-color: rgba(104, 70, 228, 0.101);
  border-radius: 250px;
  transition: .5s;
  z-index: -1;
}

// --------------- Media Query Templete --------------

@media only screen and (max-width: $medium-screen) {
 #bigFloatBall{
      top: 50px;
      height: 300px;
      width: 300px;
      border-radius: 150px;
      left: -150px;
    }
    #what-we-do .second-column {
      
    
      & img{
        display: none;
      }
    }
}

@media only screen and (max-width: $small-screen) {
  #what-we-do .second-column {
    position: absolute;
    top: 1420px;
    height: 240px;
    padding: 5px;
    padding-left: 80px;

    & #imgCarousel {
      position: absolute;
      top: 0;
    }

    & #bigFloatBall{
      display: none;
    }

    & p {
      position: absolute;
      top: 90px;
      margin-left: 20px;
    }

    & .explore-more {
      position: absolute;
      top: 170px;
    }

    & #page {
      display: none;
    }
  }
}

@media only screen and (max-width: $extra-small-screen) {

  #what-we-do .second-column {
    position: absolute;
    top: 430px;
    padding-left: 10px;


    & #imgCarousel {
      position: absolute;
      top: 0;
    }

    & p {
      position: absolute;
      top: 90px;
    }

  }
}
