// -------------------- Right Column ------------------
#image-wall .second-column {
  display: flex;
  flex-direction: column;
  height: 1000px;
  margin-top: 1080px;

  & .container-up,
  & .container-low {
    position: relative;
    height: 50%;
    overflow: hidden;
    padding: 20px;
    transition: 3s;

    & img {
      object-fit: cover;
      width: 360px;
      height: 420px;
    }

    & h1 {
      position: absolute;
      top: 80px;
      left: 60px;
      width: 300px;
      color: white;
      text-shadow: 0.05em 0.05em #333;
      z-index: 30;
    }

    & p {
      position: absolute;
      left: 60px;
      bottom: 30px;
      color: white;
      font-weight: 600;
      z-index: 20;
    }
  }

  & .container-up .img-wrapper {
    overflow: hidden;
    width: 360px;
    height: 420px;
  }

  & .container-up .img-hover {
    position: relative;
    top: -430px;
    left: -400px;
    width: 400px;
    height: 460px;
    transition: 1s;
    background-image: linear-gradient(
      to bottom right,
      rgba(18, 18, 19, 0.95),
      rgba(33, 17, 105, 0.87)
    );
    z-index: 10;

    & h2 {
      position: relative;
      left: 199px;
      width: 400px;
      color: white;
    }

    & h2 span {
      color: black;
    }
  }
}

// --------------- Media Query Templete --------------
@media only screen and (max-width: $medium-screen) {
  #image-wall .second-column {
    
    & .container-up,
    & .container-low {
      width: 400px;
      height: 400px;

      & img {
        width: 300px;
        height: 350px;
      }

      & .img-wrapper {
        width: 300px;
        height: 350px;
      }

      & h1 {
        position: absolute;
        top: 60px;
        left: 40px;
        font-size: 33px;
        width: 297px;
        color: white;
      }

      & p {
        position: absolute;
        left: 40px;
        color: white;
        font-weight: 600;
        bottom: 35px;
      }
    }
  }
}

@media only screen and (max-width: $small-screen) {
  #image-wall .second-column {
    padding: 0;
    margin-top: -10px;

    & .container-up,
    & .container-low {
      left: 50%;
      margin: 20px 0;
      padding: 0;
      width: 430px;
      height: 330px;
      transform: translateX(-50%);

      & img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 300px;
        width: 430px;
      }  
    }

    & .container-up {
      
      & .img-wrapper {
        width: 430px;
        height: 300px;
      }

      & .img-hover {
        position: relative;
        left: -430px;
        width: 430px;
      }

      & h1 {
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
      }

      & p {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -100px;
      }
    }
  }
}
