#image-wall {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4000px;
  padding: 30px 0;
  padding-top: 1400px;
  transition: 2s;
  // border: 10px solid black;
  // background-image: linear-gradient(to bottom right, #e4f5b5b2, #0aaafa79);
}

// -------------------- Left Column ------------------
#image-wall .first-column {
  height: 1000px;
  width: 100%;
  margin-top: 1000px;


  // ----- Upper Container -----
  & .container-up {
    position: relative;
    width: 100%;
    height: 160px;
    padding: 20px;
    transition: 1.8s;
    // border: 2px solid green;

    & h1 {
      font-size: 45px;
    }

    & h2 {
      position: absolute;
      width: 300px;
      margin-top: -60px;
      white-space: nowrap;
      color: rgba(198, 219, 148, 0.932);
      font-size: 80px;
      transition: 1s;
      z-index: -1;
    }
  }

  // ----- Lower Container ----
  & .container-low {
    position: absolute;
    overflow: hidden;
    right: 0px;
    width: 100%;
    height: 85%;
    padding: 20px;

    & .img-cover {
      position: absolute;
      right: 0px;
      width: 360px;
      height: 420px;
      margin-right: 40px;
      overflow: hidden;
    }

    & img,
    .hoverBox {
      position: absolute;
      right: 0px;
      width: 360px;
      height: 420px;
      object-fit: cover;
    }

    & .hoverBox {
      font-size: 17px;
      font-weight: 650;
      padding: 180px 60px;
      top: 460px;
      width: 360px;
      height: 420px;
      transition: 0.11s;
      background-image: linear-gradient(
        to bottom,
        rgba(128, 128, 128, 0.199),
        black
      );

      & li {
        color: white;
        opacity: 1;
        text-align: center;
        letter-spacing: 5px;
      }

      & :hover {
        & .hoverBox {
          visibility: visible;
          opacity: 0.9;
        }
      }
    }

    & h3 {
      position: absolute;
      top: 500px;
      width: 360px;
      right: 35px;
    }

    & p {
      width: 360px;
      position: absolute;
      top: 570px;
      right: 35px;
    }
  }
}

// --------------- Media Query Templete --------------
@media only screen and (max-width: $medium-screen) {
  #image-wall {
    height: 1000px;
  }

  #image-wall .container {
    max-width: 750px;
  }

  #image-wall .first-column {
    height: 800px;

    & .container-up {
      position: relative;
      height: 120px;
      padding: 0px;

      & h1 {
        font-size: 35px;
      }
    }

    & .container-low {
      & img {
        width: 300px;
        height: 350px;
      }

      & .img-cover {
        width: 300px;
        height: 350px;
      }

      & .hoverBox {
        padding: 130px 60px;
        top: 460px;
        width: 300px;
        height: 440px;
      }

      & h3 {
        position: absolute;
        font-size: 20px;
        top: 420px;
        width: 300px;
        right: 35px;
      }

      & p {
        position: absolute;
        top: 470px;
        width: 300px;
        right: 35px;
      }
    }
  }
}

@media only screen and (max-width: $small-screen) {
  #image-wall {
    height: 1300px;
    padding-top: 500px;
  }

  #image-wall .first-column {
    height: 420px;

    & .container-up {
      height: 50px;
      & h1 {
        position: absolute;
        margin-left: -55px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }
      & h2{
        font-size: 35px;
        margin-top: 20px;
      }
    }

    & .container-low {
      padding: 20px;

      & img,
      .hoverBox {
        width: 430px;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
      }

      & .img-cover {
        width: 430px;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
      }

      & .hoverBox {
        padding: 110px 60px;
      }

      & h3 {
        display: none;
      }

      & p {
        display: none;
      }
    }
  }
}
