#footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 100px 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  height: 600px;
  width: 100%;
  transition: 4s;

  & .typewriter h1 {
    padding: 20px;
    color: #fff;
    font-size: 80px;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 40px auto;
    letter-spacing: 8px;
    transition: 1s;
    animation: blink-caret 0.5s step-end infinite;
    // border: 2px solid red;
  }

  & h2 {
    font-size: 20px;
    position: absolute;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 0;
    cursor: pointer;
    z-index: 30;
        // border: 2px solid red;
  }

  & img{
    position: absolute;
    left: 50%;
    margin-left: 140px;
    width: 16px;
    height: 14px;
    color: white;
    margin-top: 12px;
    background-color: #fff;
  }

  & hr {
    position: absolute;
    bottom: 50px;
    border-bottom: 0.6px solid white;
    width: 90%;
  }

  & ul {
    position: absolute;
    bottom: 20px;
    color: white;

    & li {
      // letter-spacing: .2px;
      margin: 0 40px;
      // font-weight: 600;
      display: inline;
    }
  }
}

// --------------------- Media Query ----------------------
@media only screen and (max-width: $medium-screen) {
  #footer {
    position: absolute;
    bottom: 0;
    height: 440px;
    padding: 60px 100px;
  }
}

@media only screen and (max-width: $small-screen) {
  #footer {
    height: 300px;
    padding: 100px 50px;

    & .typewriter h1 {
      font-size: 40px;
    }

    & h2 {
      font-size: 15px;
      letter-spacing: 0px;
    }
    
    & img{
      margin-left: 100px;
      width: 12px;
      height: 12px;
      margin-top: 4px;
      background-color: #fff;
    }

    & hr {
      display: none;
    }

    & ul li {
      display: none;
    }
  }
}
