// ------------------ Image Carousel -------------
#what-we-do .first-column {
  & #imgCarousel {
    height: 100%;
    font-size: 34px;
  }

  & .carousel-inner {
    height: 100%;
  }
}

// -------------------- Title Carousel ------------
#what-we-do .second-column {
  & #titleCarousel {
    position: absolute;
    top: 230px;
    width: 100%;
    height: 66px;
    z-index: 20;

    & h1{
      width: 320px;
      text-shadow: 2px 2px rgba(255, 217, 0, 0.63);
      z-index: 10;
    }
  }

  & .carousel-inner {
    height: 100%;
  }

  & .carousel-item {
    width: 300px;
    transition: all 1.5s;
  }
}

@media only screen and (max-width: $small-screen) {
  #what-we-do .first-column {
    & #imgCarousel {
      height: 400px;
    }
  }

  #what-we-do .second-column {
    & #titleCarousel {
      position: absolute;
      top: 40px;
      width: 100%;
      height: 66px;
      margin-left: 20px;
      
      & h1{
          font-size: 30px;
      }
    }
  }
}
