#page{
    position: absolute;
    right: 0;
    height: 40px;
    width: 80px;
    text-align: center;
    padding: 5px 10px;
    letter-spacing: 3px;
    color: rgb(11, 82, 54);
    font-size: 15px;
    font-weight: 700;
    transform:rotate(90deg);
    background-color: rgb(214, 214, 62);

    & div{
      overflow: hidden;
    }

    & ul{
      position: relative;
      padding: 0;
      margin: 0;
      display: inline-block;
      transform:rotate(-90deg);
      animation-duration: 0.5s;
      animation-delay: .6s;
    }

    & li{
      padding: 1px 6px ;
      margin: 0;
      display: inline-block;
    }
  }
