
#gallery  #titleContainer{
  position: absolute;
  top: 100px;
  left: -200px;
  width: 420px;
  height: 60px;
  overflow: hidden;
}

#gallery .titlewrapper {
  position: absolute;
  top: 0;
  left: 165px;
  width: 300px;
  height: 60px;
}

#gallery .titlewrapper h1:nth-child(1) {
  position: absolute;
  top: 0;
  left: -113px;
  width: 120px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-shadow: 3px 3px #1d2488f5;
}

#gallery .titlewrapper h1:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-shadow: 3px 3px #c70324;
  width: 330px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;

  & p {
    position: absolute;
    top: 0;
    left: -113px;
    font-weight: 500;
  }
}

// ------------- Media Query --------------
@media only screen and (max-width: $small-screen) {

  #gallery #titleContainer {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -18px;
    transform: translateX(-50%);  
  }
}

@media only screen and (max-width: $extra-small-screen) {
  #gallery #titleContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}