// ----------------- 上下翻页效果 ----------------

@keyframes FirstLine {
  0% {
    top: 0;
    // opacity: 1;
  }
  
  100% {
    top: -40px;
    // opacity: 0;
  }
}

@keyframes SecondLine {
  0% {
    top: 40px;
    opacity: 0;
  }
  
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes MoveDown {
  0% {
    top: 100px;
    opacity: 1;
  }

  100% {
    top: 130px;
    opacity: 0;
  }
}

@keyframes flashOnce {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}


@keyframes toRightWave1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}

@keyframes toRightWave2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}

@keyframes arrowToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
  // 100% {
  //   transform: translateX(0px);
  // }
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(195, 247, 99);
  }
}