// -------------- SCREEN SIZES ------------
$extra-large-screen: 1200px;
$large-screen: 992px;
$medium-screen: 768px;
$small-screen: 576px;
$extra-small-screen : 375px;


// ---------------- COLORS ---------------
$light-grey: rgba(128, 128, 128, 0.100);
$light-black: rgba(0, 0, 0, 0.119);
$background-cream-white:#f6f6f6;


// --------------- Media Query Templete --------------
$large-screen : 1200px;
$medium-screen : 992px;
$small-screen : 768px;
$extra-small-screen : 540px;
$super-small-screen : 375px;

@media only screen and (min-width: $medium-screen) {
}
  
@media only screen and (max-width: $medium-screen) {
}
  
@media only screen and (max-width: $small-screen) {
}

@media only screen and (max-width: $small-screen) {
}
  