@import "./defination.scss";

.App{
    position: relative;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    height: 4110px;
    min-width: 300px;
    overflow: hidden;
}


li{
  list-style-type: none;
}

img{
  border-radius: 2px;
}

#followImg {
  position: absolute;
  // display: none;
  // visibility: hidden;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.189);
  mix-blend-mode: difference;
  z-index: 991;
}

@media only screen and (max-width: $medium-screen) {
  .App{
    height: 3900px;}
}
  

@media only screen and (max-width: $small-screen) {
  .App{
    height: 3000px;}
}
  